$squareWidth: 100px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

@mixin translate ($posX: -50%, $posY: -50%, $deg: 0) {
    transform: translate($posX, $posY) rotate($deg + deg);
}

@mixin relativeCenter($posX: 50%, $posY: 50%) {
    position: relative;
    top: $posX;
    left: $posY;
    @include translate()
}

.square {
    width: $squareWidth;
    height: $squareWidth;
    background-color: red;
    transition: all 3s ease-in;
    @include relativeCenter ();

    &__tringle {
        width:0;
        height:0;
        border-left: $squareWidth / 2 solid transparent;
        border-right: $squareWidth / 2 solid transparent;
        border-bottom: $squareWidth solid blue;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s ease-out;
    
        &_top {
            transform: rotate(0deg);
        }
    
        &_right {
            transform: rotate(90deg);
        }
        
        &_bottom {
            transform: rotate(180deg);
        }
    
        &_left {
            transform: rotate(-90deg);
        }
    }  

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
    }

    &:has(input:checked) {
        background-color: blueviolet;
        animation: around 3s normal infinite linear;

        .square__tringle {
            border-bottom: $squareWidth solid blueviolet;
            
            &_top {
                @include translate (0, -100%, 0)
            }

            &_right {
                @include translate (100%, 0, 90);
            }

            &_bottom {
                @include translate (0, 100%, 180);
            }

            &_left {
                @include translate (-100%, 0, -90);
            }
        }
    }
}

@keyframes around {
    0% {
        border-radius: 0%;
        @include translate(-50%, -50%, 0);
    }

    25% {
        border-radius: 25%;
        @include translate(-50%, -50%, 90);
    }

    50% {
        border-radius: 50%;
        @include translate(-50%, -50%, 180);
    }

    75% {
        border-radius: 25%;
        @include translate(-50%, -50%, 270);
    }

    100% {
        border-radius: 50%;
        @include translate(-50%, -50%, 360);
    }

    // from {
    //     border-radius: 0%;
    //     @include translate(-50%, -50%, 0);
    // }

    // to {
    //     border-radius: 50%;
    //     @include translate(-50%, -50%, 360); 
    // }

    }


    .flex {
        display: flex;
     
        &-item1 {
            width: $squareWidth * 3;
            background-color: aqua;
        }

        &-item2 {
            flex-grow: 1;       
            background-color: gray;
        }

        &-item3 {
            width: $squareWidth;
            background-color: aquamarine;
        }

    }    

        // .grid {
        //     display: grid;
        //     // grid-template-columns: 100px 100px 100px;
        //     // grid-template-columns: repeat(3, 100px);
        //     // grid-template-columns: 300px 1fr 100px;
        //     // grid-template-columns: 1fr 1fr 1fr;
        //     grid-template-columns: repeat(3, 1fr);
        //     // grid-template-columns: min-content 300px max-content;
        //     // grid-template-columns: 1fr 200px minmax(150px, 300px);
        //     // grid-template-columns:  repeat(3, minmax (150px, 300px));
        //     // grid-template-columns: minmax(150px, 300px) minmax(150px, 300px) minmax(150px, 300px);
        //     column-gap: 10px;

        //     grid-template-rows: repeat(3, 1fr);
        //     // grid-column-start: ;
        //     // grid-column-end: ;
          
            
              
        //     &-item1 {
        //         background-color: aqua;
        //         // grid-column-start: 3;
        //         // grid-column-end: 4;
        //         // grid-row-start: 3;
        //         // grid-row-end: 4;
        //         // grid-column: 3 / 4;
        //         // grid-row: 3 / 4;

        //         // grid-row-start
        //         // grid-column-start
        //         // grid-row-end: 
        //         // grid-column-end: 

        //         grid-area: 3 / 3 / 4 / 4;

        //     }
    
        //     &-item2 {
                       
        //         background-color: gray;
        //     }
    
        //     &-item3 {
             
        //         background-color: aquamarine;
        //         // // grid-column-start: 3;
        //         // // grid-column-end: 4;
        //         // grid-row-start: 1;
        //         // grid-row-end: 4;
        //     }
        // }

        // .grid {
        //     display: grid;
        //     height: 80px;
        //     grid-gap: 10px;
        //     grid-template-columns: repeat(4, [col]1fr);
        //     grid-template-rows: repeat(3, [row]1fr);

        //     &-item1 {
        //         background-color: aqua;
        //         grid-area: 1 / 1 / 2 / 2;
        //     }

        //     &-item2 {
        //         background-color: blueviolet;
        //         grid-area: 1 / 2 / 2 / 3;
        //     }

        //     &-item3 {
        //         background-color: burlywood;
        //         grid-area: 1 / 3 / 3 / 5;
        //     }

        //     &-item4 {
        //         background-color: gray;
        //         grid-area: 2 / 1 / 3 / 3;
        //     }

        //     &-item5 {
        //         background-color: pink;
        //         grid-area: 3 / 1 / 4 / 2;
        //     }

        //     &-item6 {
        //         background-color: yellow;
        //         grid-area: 3 / 2 / 4 / 5;
        //     }
        // }


        // .grid {
        //     display: grid;
        //     height: 100vh;
        //     grid-gap: 5px;
        //     grid-template-columns: repeat(4, 1fr);
        //     grid-template-rows: repeat(4, 1fr);
        //     // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        //     // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        //     // grid-template-rows: 1fr;
        //     // justify-content: start;
        //     // align-content: normal;
        //     grid-auto-flow: dense;
        //     &-item:nth-child(2),
        //     &-item:nth-child(3),
        //     &-item:nth-child(3), {
        //         grid-column: 2 span;
        //     }
        // }
          
        //     &-item {
        //         width: 100px;
        //     //     height: 100px;
        //     // }

        //     &-item1 {
        //         background-color: rgb(10, 185, 185);
          
        //     }

        //     &-item2 {
        //         background-color: rgb(115, 44, 182);
             
        //     }

        //     &-item3 {
        //         background-color: rgb(247, 166, 60);
                
        //     }
            
        //     &-item4 {
        //         background-color: rgb(117, 221, 126);
                
        //     }
            
        //     &-item5 {
        //         background-color: rgb(84, 149, 192);
                
        //     }
            
        //     &-item6 {
        //         background-color: rgb(116, 156, 21);
                
        //     }
            
        //     &-item7 {
        //         background-color: rgb(165, 86, 180);
                
        //     }
            
        //     &-item8 {
        //         background-color: rgb(179, 63, 117);
                
        //     }
            
        //     &-item9 {
        //         background-color: rgb(133, 30, 35);
                
        //     }
            
        //     &-item10 {
        //         background-color: rgb(119, 77, 197);
                
        //     }
            
        //     &-item11 {
        //         background-color: rgb(32, 153, 72);
       
        //     }
        // }


        .grid {
            display: grid;
            // height: 100vh;
            // grid-gap: 5px;
            grid-template-areas: 
            "head head"
            "nav main"
            "nav footer"
            ;
            grid-template-columns: 200px 1fr;
            grid-template-rows: 75px 1fr 50px;
      
                    // &-item {
                    //     width: 100px;
                    // //     height: 100px;
                    // }
        
                    &-item1 {
                        grid-area: head;
                        background-color: rgb(10, 185, 185);
                  
                    }
        
                    &-item2 {
                        grid-area: nav;
                        background-color: rgb(115, 44, 182);
                     
                    }
        
                    &-item3 {
                        grid-area: main;
                        background-color: rgb(247, 166, 60);
                        
                    }
                    
                    &-item4 {
                        grid-area: footer;
                        background-color: rgb(117, 221, 126);
                        
                    }
        }


        .calk {
            display: grid;
            width: 294px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 72px);

            &-btn {
                // height: 72px;
            }

            &-btn1 {
                grid-column: 4 span;
                background-color: rgb(117, 221, 126);
                // grid-area: 1 / 1 / 2 / 5;
            }

            &-btn2 {
               
                background-color: rgb(117, 221, 126);
                // grid-area: 2 / 1 / 3 / 2;
            }

            &-btn3 {
               
                background-color: rgb(117, 221, 126);
                // grid-area: 2 / 2 / 3 / 3;
            }

            &-btn3 {
                // grid-area: 2;
                background-color: rgb(117, 221, 126);
            }

            &-btn4 {
                // grid-area: 3;
                background-color: rgb(117, 221, 126);
            }

            &-btn5 {
                // grid-area: 4;
                grid-row: 2 span;
                background-color: rgb(117, 221, 126);
            }

            &-btn6 {
                // grid-area: 5;
                background-color: rgb(117, 221, 126);
            }

            &-btn7 {
                // grid-area: 6;
                background-color: rgb(117, 221, 126);
            }

            &-btn8 {
                // grid-area: 7;
                background-color: rgb(117, 221, 126);
            }

            &-btn9 {
                // grid-area: 8;
                background-color: rgb(117, 221, 126);
            }

            &-btn10 {
                // grid-area: 9;
                background-color: rgb(117, 221, 126);
            }

            &-btn11 {
                // grid-area: Clear;
                // grid-row: 2;
                background-color: rgb(117, 221, 126);
            }

            &-btn12 {
                // grid-area: Enter;
                grid-row: 2 span;
                background-color: rgb(117, 221, 126);
            }

            &-btn13 {
                // grid-area: 00;
                background-color: rgb(117, 221, 126);
            }

            &-btn14 {
                // grid-area: Backspace;
                grid-column: 2 span;
                background-color: rgb(117, 221, 126);
            }

          
        }
   